<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
<head>
    <title>Radio Stations Chooser Main Window</title>
    <style type="text/css">
        body {
            margin: 10px;
            white-space: nowrap;
        }

        h1 {
            font-size: 15px;
        }

        #container {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        .playerContainer{
            position: relative;
            width: 100%;

        }
        .player{
            position: relative;
            width: 100%;
            float:left;

        }
        .radioSelect{
            position: relative;
            width: 50%;
            float:left;
        }
    </style>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
    -->
    <script src="includes/js/storageChooser.js"></script>
    <script src="includes/js/radioChooser.js"></script>
</head>

<body>
<div class="playerContainer">

    <h1>Radio Stations Plugin</h1>
    <audio id="audioPlayer" controls class="player">
        <source src="">
    </audio>

    <div id="container" class="radioSelect">
        <label for="radioStations">Select your radio Station</label>
        <select id="radioStations">
            <option selected disabled hidden value=''></option>
            <option value="https://wdr-1live-live.sslcast.addradio.de/wdr/1live/live/mp3/128/stream.mp3">1Live</option>

        </select>

        <label for="stationUrl"> Add Your Stations URL</label>
        <input type="text" id="stationUrl">
        <label for="stationName"> Station Name</label>
        <input type="text" id="stationName">
        <button id="stationAdd">Add Station</button>
    </div>

</div>
</body>
</html>
